.box1{
    position: relative;
    left: 500px;
    height: 300px;
    width: 300px;
    margin: 200px 200px ;
    background-color: blue;
}

.box2{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: red;
    margin: 150px ;
    
    position: relative;
    left: -30px;
    bottom: -180px;
}